@import url(
    'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'
);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mix-400: #65615A;
    --mix-100: #241F16;
    --primary-300: #EBB854;
    --primary-500: #F4CC85;
    --dark-200: #282828;
    --custom-gray: #DFDFDF;

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: "DM Sans", sans-serif !important;
    font-size: 1.6rem;
}
